/* CSS untuk menyembunyikan scrollbar */
.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* IE/Edge */
  -ms-overflow-style: none;
}

/* Webkit (Chrome, Safari, Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}